* {
    --default-font-family: "Time News Roman", sans-serif;
    --background-color: #ffffff;
    --gray-color: #474747;
    --red-dark-color: #ad343e;
    --white-color: #ffffff;
    --menu-hover-color: #dbdfd0;
}
body {
    overflow-x: hidden;
}
.container-xxl {
    height: 100vh;
    --bs-gutter-x: none !important;
    background-color: var(--background-color);
}
.header {
    background-color: var(--background-color);
    height: 10vh;
}
.content-body {
    min-height: 70vh;
    background-color: var(--background-color);
}
.footer {
    min-height: 20vh;
    background-color: var(--gray-color);
}
.titleBar {
    height: 10vh;
    font-size: 16px;
    color: var(--gray-color);
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link {
        margin: auto 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.nav-link:hover,
.nav-link:active,
.nav-link::after {
    background-color: var(--menu-hover-color);
    border-radius: 50px;
}
.roundedBtn {
    font-size: 16px;
    color: var(--gray-color);
    font-size: 16px;
    border: 1px solid var(--gray-color);
    border-radius: 50px;
    padding: 5px 10px;
}
.roundedBtnRed {
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--red-dark-color);
    font-size: 16px;
    border: 1px solid var(--red-dark-color);
    border-radius: 50px;
    padding: 5px 10px;
}
.footerItem {
    padding: 30px 150px;
    color: var(--white-color);
    line-height: 24px;
    a {
        color: var(--white-color);
        text-decoration: none;
    }
}
.footerImage {
    width: 100%;
}
.copyRight {
    color: var(--white-color);
    font-size: 16px;
}
.heroSession {
    color: var(--gray-color);
    img {
        position: relative;
        width: 100%;
    }
    .heroContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 100px;
    }
}
